

.portfolio__container{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;

    
}
.portfolio__item{
    background-color: rgb(142, 142, 247);
    padding: 1.3rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
  
}
.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}
.btn{
    font-weight: 900;
}
img{
    width: 100%;
}
.profile__cta {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 1rem;
  }


/*phones*/

@media screen and (max-width:600px) {
  
}

@media screen and (max-width:600px) {
    .portfolio__item{
        width: 130%;
    }
    .btn{
        padding: 1rem;
    }


}
  /*tablet*/
  @media screen and (max-width:1024px) {
    

  }
  
